In [1]:
import seaborn

In [2]:
df=seaborn.load_dataset("titanic")

In [3]:
import pandas as pd

In [4]:
df=df.drop(["class","adult_male","who","embark_town","alive","alone"], axis=1) 
#removes columns that repeat each other

In [5]:
df = df.replace(['male'],'1') 
df=df.replace(['female'],"0")
#creates a dummy variable for gender

In [6]:
df=pd.get_dummies(df, columns=["embarked"],drop_first=True) 
df=pd.get_dummies(df, columns=["deck"],drop_first=True) 
#binominally codes categorical variables

In [7]:
df.isnull().any()

survived      False
pclass        False
sex           False
age            True
sibsp         False
parch         False
fare          False
embarked_Q    False
embarked_S    False
deck_B        False
deck_C        False
deck_D        False
deck_E        False
deck_F        False
deck_G        False
dtype: bool

In [8]:
df=df.dropna() 
#missing values are dropped

In [9]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked_Q,embarked_S,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G
0,0,3,1,22.0,1,0,7.2500,0,1,0,0,0,0,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,0,1,0,0,0,0
2,1,3,0,26.0,0,0,7.9250,0,1,0,0,0,0,0,0
3,1,1,0,35.0,1,0,53.1000,0,1,0,1,0,0,0,0
4,0,3,1,35.0,0,0,8.0500,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,0,39.0,0,5,29.1250,1,0,0,0,0,0,0,0
886,0,2,1,27.0,0,0,13.0000,0,1,0,0,0,0,0,0
887,1,1,0,19.0,0,0,30.0000,0,1,1,0,0,0,0,0
889,1,1,1,26.0,0,0,30.0000,0,0,0,1,0,0,0,0
890,0,3,1,32.0,0,0,7.7500,1,0,0,0,0,0,0,0

In [10]:
initial_data=df
initial_data
#df is used a lot, for no errors initial dataset is duplicated

,survived,pclass,sex,age,sibsp,parch,fare,embarked_Q,embarked_S,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G
0,0,3,1,22.0,1,0,7.2500,0,1,0,0,0,0,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,0,1,0,0,0,0
2,1,3,0,26.0,0,0,7.9250,0,1,0,0,0,0,0,0
3,1,1,0,35.0,1,0,53.1000,0,1,0,1,0,0,0,0
4,0,3,1,35.0,0,0,8.0500,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,0,39.0,0,5,29.1250,1,0,0,0,0,0,0,0
886,0,2,1,27.0,0,0,13.0000,0,1,0,0,0,0,0,0
887,1,1,0,19.0,0,0,30.0000,0,1,1,0,0,0,0,0
889,1,1,1,26.0,0,0,30.0000,0,0,0,1,0,0,0,0
890,0,3,1,32.0,0,0,7.7500,1,0,0,0,0,0,0,0

In [11]:
import numpy as np
import matplotlib.pyplot as plt

In [12]:
X = np.array(df.drop(columns=['survived']))
Y = np.array(df['survived'].values)
#survived is set to be the dependent variable

In [13]:
#kNN

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold

In [15]:
#cross validation to determine k

In [16]:
cv = KFold(n_splits=10, random_state=1, shuffle=True)

In [17]:
#for the first trial, splits = 10

In [18]:
CVAccuracy=[]
for train_index, validation_index in cv.split(X):
    X_train, X_valid, Y_train, Y_valid = X[train_index], X[validation_index], Y[train_index], Y[validation_index]
    for j in range(1,26):
        knn = KNeighborsClassifier(n_neighbors = j)
        # Fit the classifier to the data
        knn.fit(X_train,Y_train)
        CVAccuracy.append([knn.score(X_valid, Y_valid),j])
    df = pd.DataFrame (CVAccuracy,columns=['Validation Accuracy','NeighbourSize'])

In [19]:
#using a for loop, calculates validation score beginning from k=1 upto k=25

In [20]:
kfoldCV = df.groupby("NeighbourSize")
kfoldCV = kfoldCV.mean()
kfoldCV = kfoldCV.reset_index()
kfoldCV[['NeighbourSize', 'Validation Accuracy']]

    NeighbourSize  Validation Accuracy
0               1             0.673513
1               2             0.677915
2               3             0.697653
3               4             0.689143
4               5             0.682140
5               6             0.666686
6               7             0.690493
7               8             0.686248
8               9             0.683372
9              10             0.670814
10             11             0.690376
11             12             0.683333
12             13             0.683372
13             14             0.683412
14             15             0.689026
15             16             0.698728
16             17             0.694523
17             18             0.698768
18             19             0.697320
19             20             0.701565
20             21             0.708607
21             22             0.704343
22             23             0.705771
23             24             0.707179
24             25             0.705712

In [21]:
TenfoldCVError = df.mean()
TenfoldCVError

Validation Accuracy     0.6908
NeighbourSize          13.0000
dtype: float64

In [22]:
#mean validation accuracy is 0.693072 for 10 splits

In [23]:
#to try the same precedure with 5 splits

In [24]:
cv = KFold(n_splits=5, random_state=1, shuffle=True)
CVAccuracy=[]
for train_index, validation_index in cv.split(X):
    X_train, X_valid, Y_train, Y_valid = X[train_index], X[validation_index], Y[train_index], Y[validation_index]
    for j in range(1,26):
        knn = KNeighborsClassifier(n_neighbors = j)
        # Fit the classifier to the data
        knn.fit(X_train,Y_train)
        CVAccuracy.append([knn.score(X_valid, Y_valid),j])
    df = pd.DataFrame (CVAccuracy,columns=['Validation Accuracy','NeighbourSize'])
    kfoldCV = df.groupby("NeighbourSize")
kfoldCV = kfoldCV.mean()
kfoldCV = kfoldCV.reset_index()
kfoldCV[['NeighbourSize', 'Validation Accuracy']]

    NeighbourSize  Validation Accuracy
0               1             0.675022
1               2             0.675052
2               3             0.700286
3               4             0.682035
4               5             0.682035
5               6             0.672225
6               7             0.682025
7               8             0.683433
8               9             0.687619
9              10             0.696041
10             11             0.705850
11             12             0.696070
12             13             0.691825
13             14             0.696031
14             15             0.694642
15             16             0.700246
16             17             0.700227
17             18             0.700246
18             19             0.703024
19             20             0.700256
20             21             0.711445
21             22             0.704452
22             23             0.696031
23             24             0.696041
24             25             0.694632

In [25]:
FivefoldCVError = df.mean()
FivefoldCVError

Validation Accuracy     0.693072
NeighbourSize          13.000000
dtype: float64

In [26]:
#mean validation accuracy is 0.693072 with 5 splits

In [27]:
#splits=5 is chosen
#with 5 splits, best performance is at k=20 neighbours

In [28]:
#trying the model with all the features

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=1, stratify=Y)

In [30]:
#train test split to measure model performance

In [31]:
knn = KNeighborsClassifier(n_neighbors = 20)
knn.fit(X_train,Y_train)

knn.score(X_test, Y_test)

0.6223776223776224

In [32]:
#data is fit with training data and evaluated with test data
#score shows this algorithm classifies accurately 92.3% of the time

In [33]:
Y_pred=knn.predict(X_test)

In [34]:
from sklearn import metrics
cnf_matrix= metrics.confusion_matrix(Y_test,Y_pred)
cnf_matrix

array([[69, 16],
       [38, 20]])

In [35]:
#nobody is falsely identified as survived
#11 people are falsely identified as dead which in this context might be a problem

In [36]:
#model selection with backward stepwise selection

In [37]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
knn = KNeighborsClassifier(n_neighbors = 20)
sbs = SFS(knn, 
           k_features=1, 
           forward=False, 
           floating=False, 
           verbose=2,
           scoring='accuracy',
           cv=5)
feature_names = ("pclass", "sex","age","sibsp","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G")
sbs = sbs.fit(X_train, Y_train, custom_feature_names=feature_names)
sbs.subsets_

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  14 out of  14 | elapsed:    0.2s finished

[2021-02-01 14:42:09] Features: 13/1 -- score: 0.7250953470633105[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  13 out of  13 | elapsed:    0.2s finished

[2021-02-01 14:42:09] Features: 12/1 -- score: 0.7250953470633105[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  12 out of  12 | elapsed:    0.2s finished

[2021-02-01 14:42:09] Features: 11/1 -- score: 0.7250953470633105[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  11 out of  11 | elapsed:    0.2s finished

[2021-02-01 14:42:09] Features: 10/1 -- score: 0.7250953470633105[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.2s finished

[2021-02-01 14:42:09] Features: 9/1 -- score: 0.7250953470633105[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:    0.1s finished

[2021-02-01 14:42:10] Features: 8/1 -- score: 0.7250953470633105[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:    0.1s finished

[2021-02-01 14:42:10] Features: 7/1 -- score: 0.7250953470633105[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    0.1s finished

[2021-02-01 14:42:10] Features: 6/1 -- score: 0.7233562166285278[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    0.1s finished

[2021-02-01 14:42:10] Features: 5/1 -- score: 0.7216018306636155[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished

[2021-02-01 14:42:10] Features: 4/1 -- score: 0.7407932875667429[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    0.1s finished

[2021-02-01 14:42:10] Features: 3/1 -- score: 0.7740350877192983[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.0s finished

[2021-02-01 14:42:10] Features: 2/1 -- score: 0.7897940503432495[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s finished

[2021-02-01 14:42:10] Features: 1/1 -- score: 0.7792829900839054

{14: {'feature_idx': (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13),
  'cv_scores': array([0.68695652, 0.69298246, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7233562166285278,
  'feature_names': ('pclass',
   'sex',
   'age',
   'sibsp',
   'parch',
   'fare',
   'embarked_Q',
   'embarked_S',
   'deck_B',
   'deck_C',
   'deck_Ddeck_E',
   'deck_F',
   'deck_G',
   'fill')},
 13: {'feature_idx': (0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13),
  'cv_scores': array([0.69565217, 0.69298246, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7250953470633105,
  'feature_names': ('pclass',
   'sex',
   'age',
   'sibsp',
   'parch',
   'fare',
   'embarked_Q',
   'deck_B',
   'deck_C',
   'deck_Ddeck_E',
   'deck_F',
   'deck_G',
   'fill')},
 12: {'feature_idx': (0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12),
  'cv_scores': array([0.69565217, 0.69298246, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7250953470633105,
  'feature_names': ('pclass',
   'sex',
   'age',
   'sibsp',
   'parch',
   'fare',
   'embarked_Q',
   'deck_B',
   'deck_C',
   'deck_Ddeck_E',
   'deck_F',
   'deck_G')},
 11: {'feature_idx': (0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11),
  'cv_scores': array([0.69565217, 0.69298246, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7250953470633105,
  'feature_names': ('pclass',
   'sex',
   'age',
   'sibsp',
   'parch',
   'fare',
   'embarked_Q',
   'deck_B',
   'deck_C',
   'deck_Ddeck_E',
   'deck_F')},
 10: {'feature_idx': (0, 1, 2, 3, 4, 5, 6, 8, 9, 10),
  'cv_scores': array([0.69565217, 0.69298246, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7250953470633105,
  'feature_names': ('pclass',
   'sex',
   'age',
   'sibsp',
   'parch',
   'fare',
   'embarked_Q',
   'deck_B',
   'deck_C',
   'deck_Ddeck_E')},
 9: {'feature_idx': (0, 1, 2, 3, 4, 5, 6, 8, 10),
  'cv_scores': array([0.69565217, 0.69298246, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7250953470633105,
  'feature_names': ('pclass',
   'sex',
   'age',
   'sibsp',
   'parch',
   'fare',
   'embarked_Q',
   'deck_B',
   'deck_Ddeck_E')},
 8: {'feature_idx': (0, 1, 2, 3, 4, 5, 6, 10),
  'cv_scores': array([0.69565217, 0.69298246, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7250953470633105,
  'feature_names': ('pclass',
   'sex',
   'age',
   'sibsp',
   'parch',
   'fare',
   'embarked_Q',
   'deck_Ddeck_E')},
 7: {'feature_idx': (0, 1, 2, 3, 4, 5, 10),
  'cv_scores': array([0.69565217, 0.69298246, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7250953470633105,
  'feature_names': ('pclass',
   'sex',
   'age',
   'sibsp',
   'parch',
   'fare',
   'deck_Ddeck_E')},
 6: {'feature_idx': (0, 1, 2, 3, 4, 5),
  'cv_scores': array([0.68695652, 0.69298246, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7233562166285278,
  'feature_names': ('pclass', 'sex', 'age', 'sibsp', 'parch', 'fare')},
 5: {'feature_idx': (1, 2, 3, 4, 5),
  'cv_scores': array([0.68695652, 0.68421053, 0.74561404, 0.71929825, 0.77192982]),
  'avg_score': 0.7216018306636155,
  'feature_names': ('sex', 'age', 'sibsp', 'parch', 'fare')},
 4: {'feature_idx': (1, 3, 4, 5),
  'cv_scores': array([0.74782609, 0.71052632, 0.78070175, 0.71052632, 0.75438596]),
  'avg_score': 0.7407932875667429,
  'feature_names': ('sex', 'sibsp', 'parch', 'fare')},
 3: {'feature_idx': (1, 3, 4),
  'cv_scores': array([0.8       , 0.79824561, 0.78947368, 0.73684211, 0.74561404]),
  'avg_score': 0.7740350877192983,
  'feature_names': ('sex', 'sibsp', 'parch')},
 2: {'feature_idx': (1, 3),
  'cv_scores': array([0.8173913 , 0.8245614 , 0.79824561, 0.76315789, 0.74561404]),
  'avg_score': 0.7897940503432495,
  'feature_names': ('sex', 'sibsp')},
 1: {'feature_idx': (1,),
  'cv_scores': array([0.80869565, 0.80701754, 0.77192982, 0.75438596, 0.75438596]),
  'avg_score': 0.7792829900839054,
  'feature_names': ('sex',)}}

In [38]:
pd.DataFrame.from_dict(sbs.get_metric_dict()).T

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
14,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)","[0.6869565217391305, 0.6929824561403509, 0.745...",0.723356,"(pclass, sex, age, sibsp, parch, fare, embarke...",0.0411244,0.0319962,0.0159981
13,"(0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13)","[0.6956521739130435, 0.6929824561403509, 0.745...",0.725095,"(pclass, sex, age, sibsp, parch, fare, embarke...",0.0387563,0.0301537,0.0150769
12,"(0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12)","[0.6956521739130435, 0.6929824561403509, 0.745...",0.725095,"(pclass, sex, age, sibsp, parch, fare, embarke...",0.0387563,0.0301537,0.0150769
11,"(0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11)","[0.6956521739130435, 0.6929824561403509, 0.745...",0.725095,"(pclass, sex, age, sibsp, parch, fare, embarke...",0.0387563,0.0301537,0.0150769
10,"(0, 1, 2, 3, 4, 5, 6, 8, 9, 10)","[0.6956521739130435, 0.6929824561403509, 0.745...",0.725095,"(pclass, sex, age, sibsp, parch, fare, embarke...",0.0387563,0.0301537,0.0150769
9,"(0, 1, 2, 3, 4, 5, 6, 8, 10)","[0.6956521739130435, 0.6929824561403509, 0.745...",0.725095,"(pclass, sex, age, sibsp, parch, fare, embarke...",0.0387563,0.0301537,0.0150769
8,"(0, 1, 2, 3, 4, 5, 6, 10)","[0.6956521739130435, 0.6929824561403509, 0.745...",0.725095,"(pclass, sex, age, sibsp, parch, fare, embarke...",0.0387563,0.0301537,0.0150769
7,"(0, 1, 2, 3, 4, 5, 10)","[0.6956521739130435, 0.6929824561403509, 0.745...",0.725095,"(pclass, sex, age, sibsp, parch, fare, deck_Dd...",0.0387563,0.0301537,0.0150769
6,"(0, 1, 2, 3, 4, 5)","[0.6869565217391305, 0.6929824561403509, 0.745...",0.723356,"(pclass, sex, age, sibsp, parch, fare)",0.0411244,0.0319962,0.0159981
5,"(1, 2, 3, 4, 5)","[0.6869565217391305, 0.6842105263157895, 0.745...",0.721602,"(sex, age, sibsp, parch, fare)",0.0434467,0.033803,0.0169015
4,"(1, 3, 4, 5)","[0.7478260869565218, 0.7105263157894737, 0.780...",0.740793,"(sex, sibsp, parch, fare)",0.0347698,0.0270521,0.0135261
3,"(1, 3, 4)","[0.8, 0.7982456140350878, 0.7894736842105263, ...",0.774035,"(sex, sibsp, parch)",0.0349152,0.0271652,0.0135826
2,"(1, 3)","[0.8173913043478261, 0.8245614035087719, 0.798...",0.789794,"(sex, sibsp)",0.0394195,0.0306697,0.0153349
1,"(1,)","[0.808695652173913, 0.8070175438596491, 0.7719...",0.779283,"(sex,)",0.0311035,0.0241996,0.0120998

In [39]:
#best features are sex and sibsp

In [40]:
X=initial_data.drop(["survived","pclass","age","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G"], axis=1) 
y=initial_data.drop(["sex","sibsp","pclass","age","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G"], axis=1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1,stratify=y)

In [41]:
knn = KNeighborsClassifier(n_neighbors = 20)
knn.fit(X_train,Y_train)
knn.score(X_test, Y_test)

0.7622377622377622

In [42]:
#final model has accuracy of 76.22%

In [43]:
Y_pred=knn.predict(X_test)
from sklearn import metrics
cnf_matrix= metrics.confusion_matrix(Y_test,Y_pred)
cnf_matrix

array([[73, 12],
       [22, 36]])

In [44]:
#conf matrix is evaluated in the report

In [45]:
#Forward Sequential Feature SELECTÄ°ON

In [46]:
X=initial_data.drop("survived",axis=1)
y=initial_data["survived"].values
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1,stratify=y)

In [47]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
knn = KNeighborsClassifier(n_neighbors = 20)
sfs = SFS(knn, 
           k_features=15, 
           forward=True, 
           floating=False, 
           verbose=2,
           scoring='accuracy',
           cv=5)
feature_names = ("pclass", "sex","age","sibsp","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G")
sfs = sfs.fit(X_train, y_train, custom_feature_names=feature_names)
pd.DataFrame.from_dict(sfs.get_metric_dict()).T

AttributeError: k_features must be a positive integer between 1 and X.shape[1], got 15

In [ ]:
#sfs also provides same features as sbs

In [ ]:
#Best Subset Selection

In [48]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS
knn = KNeighborsClassifier(n_neighbors = 20)
efs = EFS(knn, 
           min_features=1,
           max_features=8,
           scoring='accuracy',
           print_progress=True,
           cv=5)

feature_names = ("pclass", "sex","age","sibsp","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G")
efs = efs.fit(X_train, y_train, custom_feature_names=feature_names)

print('Best accuracy score: %.2f' % efs.best_score_)
print('Best subset (indices):', efs.best_idx_)
print('Best subset (corresponding names):', efs.best_feature_names_)

Features: 3000/12910IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Features: 9490/12910IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [49]:
#unlike the sbs and sfs, efs recommended a model with 5 features
#those 4 features are pclass, sex, sibsp, deck_B, deck_E

In [50]:
X=initial_data.drop(["survived","age","parch","fare","embarked_Q","embarked_S","deck_C","deck_D","deck_F","deck_G"], axis=1) 
y=initial_data.drop(["sex","sibsp","pclass","age","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G"], axis=1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1,stratify=y)

In [51]:
knn = KNeighborsClassifier(n_neighbors = 20)
knn.fit(X_train,Y_train)
knn.score(X_test, Y_test)

0.7132867132867133

In [52]:
#Features recommended by EFS have provided lower accuracy.

In [53]:
#conf matrix had a high false negative rate
#threshold is adjusted to fix that

In [54]:
threshold=0.25
X=initial_data.drop(["survived","pclass","age","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G"], axis=1) 
y=initial_data.drop(["sex","sibsp","pclass","age","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G"], axis=1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1,stratify=y)
knn = KNeighborsClassifier(n_neighbors = 20)
knn.fit(X_train,Y_train)
print(knn.score(X_test, Y_test))
Y_pred=knn.predict(X_test)
from sklearn import metrics
cnf_matrix= metrics.confusion_matrix(Y_test,Y_pred)
print(cnf_matrix)

0.7622377622377622
[[73 12]
 [22 36]]

In [55]:
threshold=0.15
X=initial_data.drop(["survived","pclass","age","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G"], axis=1) 
y=initial_data.drop(["sex","sibsp","pclass","age","parch","fare","embarked_Q","embarked_S","deck_B","deck_C","deck_D","deck_E","deck_F","deck_G"], axis=1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1,stratify=y)
knn = KNeighborsClassifier(n_neighbors = 20)
knn.fit(X_train,Y_train)
print(knn.score(X_test, Y_test))
Y_pred=knn.predict(X_test)
from sklearn import metrics
cnf_matrix= metrics.confusion_matrix(Y_test,Y_pred)
print(cnf_matrix)

0.7622377622377622
[[73 12]
 [22 36]]

In [56]:
#no change is observed and threshold cannot be lowered anymore
#analysis is completed