In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
import seaborn
df=seaborn.load_dataset("titanic")

import pandas as pd
df=df.drop(["class","adult_male","who","embark_town","alive","alone"], axis=1) 
#removes columns that repeat each other

df = df.replace(['male'],'1') 
df=df.replace(['female'],"0")
#creates a dummy variable for gender

df=pd.get_dummies(df, columns=["embarked"],drop_first=True) 
df=pd.get_dummies(df, columns=["deck"],drop_first=True) 
#binominally codes categorical variables

df=df.dropna() 
#missing values are dropped

import numpy as np
import matplotlib.pyplot as plt

X = np.array(df.drop(columns=['survived']))
Y = np.array(df['survived'].values)
#survived is set to be the dependent variable

In [3]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked_Q,embarked_S,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G
0,0,3,1,22.0,1,0,7.2500,0,1,0,0,0,0,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,0,1,0,0,0,0
2,1,3,0,26.0,0,0,7.9250,0,1,0,0,0,0,0,0
3,1,1,0,35.0,1,0,53.1000,0,1,0,1,0,0,0,0
4,0,3,1,35.0,0,0,8.0500,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,0,39.0,0,5,29.1250,1,0,0,0,0,0,0,0
886,0,2,1,27.0,0,0,13.0000,0,1,0,0,0,0,0,0
887,1,1,0,19.0,0,0,30.0000,0,1,1,0,0,0,0,0
889,1,1,1,26.0,0,0,30.0000,0,0,0,1,0,0,0,0
890,0,3,1,32.0,0,0,7.7500,1,0,0,0,0,0,0,0

In [4]:
X = df.drop('survived',axis=1)
y = df['survived']
X_col=X.columns
X_col

Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked_Q',
       'embarked_S', 'deck_B', 'deck_C', 'deck_D', 'deck_E', 'deck_F',
       'deck_G'],
      dtype='object')

In [5]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
X = scaler.fit_transform(X)

In [6]:
#Data is scaled

In [7]:
from sklearn.model_selection import train_test_split
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1, stratify=y)

In [8]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
C_param_range = [0.001,0.01,0.1,1,10,100,1000,10000]
scoresCV = []
for c in C_param_range:
    logreg = LogisticRegression(C=c,penalty='l2',max_iter=1000)
    logreg.fit(X_train, y_train)    
    scoreCV = cross_val_score(logreg, X_train, y_train, scoring='accuracy',
                             cv=KFold(n_splits=10, shuffle=True,
                                            random_state=1))
    scoresCV.append([c,np.mean(scoreCV)])

In [9]:
validation_acc = pd.DataFrame(scoresCV,columns=['C (1/lambda)','Validation Accuracy'])
validation_acc

   C (1/lambda)  Validation Accuracy
0         0.001             0.660133
1         0.010             0.795130
2         0.100             0.805626
3         1.000             0.802087
4        10.000             0.800333
5       100.000             0.800333
6      1000.000             0.800333
7     10000.000             0.800333

In [10]:
#It is seen that with a penalty value about 12, 0.1 C value performs the best.

In [11]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
C_param_range = [0.001,0.01,0.1,1,10,100,1000,10000]
scoresCV = []
for c in C_param_range:
    logreg = LogisticRegression(C=c,penalty='l1',max_iter=1000,solver='liblinear')
    logreg.fit(X_train, y_train)    
    scoreCV = cross_val_score(logreg, X_train, y_train, scoring='accuracy',
                             cv=KFold(n_splits=10, shuffle=True,
                                            random_state=1))
    scoresCV.append([c,np.mean(scoreCV)])

In [12]:
#Penalty is raised by using l1 value.

In [13]:
validation_acc = pd.DataFrame(scoresCV,columns=['C (1/lambda)','Validation Accuracy'])
validation_acc

   C (1/lambda)  Validation Accuracy
0         0.001             0.593497
1         0.010             0.779371
2         0.100             0.791652
3         1.000             0.800333
4        10.000             0.800333
5       100.000             0.800333
6      1000.000             0.800333
7     10000.000             0.800333

In [14]:
#Higher penalty led C score to perform better with 1

In [15]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
C_param_range = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]
scoresCV = []
for c in C_param_range:
    logreg = LogisticRegression(C=c,penalty='l1',max_iter=1000,solver='liblinear')
    logreg.fit(X_train, y_train)    
    scoreCV = cross_val_score(logreg, X_train, y_train, scoring='accuracy',
                             cv=KFold(n_splits=10, shuffle=True,
                                            random_state=1))
    scoresCV.append([c,np.mean(scoreCV)])

In [16]:
validation_acc = pd.DataFrame(scoresCV,columns=['C (1/lambda)','Validation Accuracy'])
validation_acc

   C (1/lambda)  Validation Accuracy
0           0.1             0.791652
1           0.2             0.791621
2           0.3             0.796854
3           0.4             0.800363
4           0.5             0.800333
5           0.6             0.798578
6           0.7             0.798578
7           0.8             0.800333
8           0.9             0.800333
9           1.0             0.800333

In [17]:
#Values between 0.1 and 1 are seperately checked.

In [18]:
logreg = LogisticRegression(C=0.4,penalty='l1',max_iter=1000,solver='liblinear')
logreg.fit(X_train, y_train)
y_pred=logreg.predict(X_test)
score = logreg.score(X_test, y_test)
print(score)
Model_intercept = pd.DataFrame({"Variables":'Intercept',"Coefficients":logreg.intercept_[0]},index=[0])
Model_coefficients = pd.DataFrame({"Variables":X_col,"Coefficients":np.transpose(logreg.coef_[0])})
Model_coefficients = pd.concat([Model_intercept,Model_coefficients]).reset_index(drop=True)
print(Model_coefficients)

0.8041958041958042
     Variables  Coefficients
0    Intercept     -0.492124
1       pclass     -0.929178
2          sex     -1.175119
3          age     -0.714145
4        sibsp     -0.361426
5        parch      0.018221
6         fare      0.074478
7   embarked_Q     -0.081077
8   embarked_S     -0.120938
9       deck_B      0.110658
10      deck_C      0.000000
11      deck_D      0.162235
12      deck_E      0.127631
13      deck_F      0.114010
14      deck_G      0.076785

In [20]:
from sklearn import metrics
metrics.confusion_matrix(y_test, y_pred)

array([[72, 13],
       [15, 43]])

In [21]:
#0.4 C value performed 0.804 accuracy by using every feature except deck_C
#matrix shows that 13 people were falsely identified as survived and 15 people were falsely
#identified as dead

In [22]:
logreg = LogisticRegression(C=0.15,penalty='l1',max_iter=1000,solver='liblinear')
logreg.fit(X_train, y_train)
score = logreg.score(X_test, y_test)
print(score)
Model_intercept = pd.DataFrame({"Variables":'Intercept',"Coefficients":logreg.intercept_[0]},index=[0])
Model_coefficients = pd.DataFrame({"Variables":X_col,"Coefficients":np.transpose(logreg.coef_[0])})
Model_coefficients = pd.concat([Model_intercept,Model_coefficients]).reset_index(drop=True)
print(Model_coefficients)

0.8041958041958042
     Variables  Coefficients
0    Intercept     -0.434283
1       pclass     -0.867446
2          sex     -1.097556
3          age     -0.580104
4        sibsp     -0.254404
5        parch      0.000000
6         fare      0.059524
7   embarked_Q     -0.011941
8   embarked_S     -0.064620
9       deck_B      0.066920
10      deck_C      0.000000
11      deck_D      0.110665
12      deck_E      0.062639
13      deck_F      0.066229
14      deck_G      0.000000

In [23]:
#Lowering the c value still performed the same accuracy by using two less features.

In [24]:
logreg = LogisticRegression(C=0.01,penalty='l1',max_iter=1000,solver='liblinear')
logreg.fit(X_train, y_train)
score = logreg.score(X_test, y_test)
print(score)
Model_intercept = pd.DataFrame({"Variables":'Intercept',"Coefficients":logreg.intercept_[0]},index=[0])
Model_coefficients = pd.DataFrame({"Variables":X_col,"Coefficients":np.transpose(logreg.coef_[0])})
Model_coefficients = pd.concat([Model_intercept,Model_coefficients]).reset_index(drop=True)
print(Model_coefficients)

0.7832167832167832
     Variables  Coefficients
0    Intercept      0.000000
1       pclass      0.000000
2          sex     -0.360441
3          age      0.000000
4        sibsp      0.000000
5        parch      0.000000
6         fare      0.000000
7   embarked_Q      0.000000
8   embarked_S      0.000000
9       deck_B      0.000000
10      deck_C      0.000000
11      deck_D      0.000000
12      deck_E      0.000000
13      deck_F      0.000000
14      deck_G      0.000000

In [25]:
#It is possible to acquire a 0.78 accuracy by lowering the C value to 0.01
#This leads to consider only one feature amongst others.